<div id="app" class="container">
    <search-component></search-component>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center m-0"><a href="https://github.com/patoui/lang-compare" target="_blank">Source Code</a></p>
        <p class="text-muted text-center">&copy; <%= Time.current.year %> Patrique Ouimet</p>
    </div>
</footer>
